@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    scroll-behavior: smooth;
    background-color: var(--color-white-gray);
}

body {
    font-family: 'Lora', serif;
}

main {
    overflow-x: hidden;
    overflow-y: hidden;
}

:root {
    --color-1: #96b5a6;
	--color-2: #fce1cb;
	--color-3: #febeac;
	--color-4: #4e383d;
	--color-5: #d9434f;

    --color-white-gray: rgba(255, 255, 255, 0.808);
}
