nav {
    font-size: 20px;
    border-top: 1px solid rgba(128, 128, 128, 0.356);
    background-color: var(--color-white-gray);

    box-shadow: 2px 1px rgb(180, 180, 180);
    margin-bottom: 30px;
}

.title-header {
    margin: 0;
    display: flex;
    padding: 20px;
    font-size: 80px;
    
    background-color: var(--color-white-gray);
    justify-content: center;
}

nav .navbar-nav {
    font-size: 24px;
    justify-content: center;
    width: 100%;
}

nav .navbar-nav li {
    margin: 0 10px;
}


nav .navbar-nav li a {
    color: black !important;    
}

nav .navbar-nav li a:hover {
    transition: all 0.2s;
    color: var(--color-5) !important;    
    transform: scale(0.95);
}


main {
    margin-bottom: 80px;
    min-height: 80vh;
}

.center-item {
    margin: auto;
    align-items: center;
    justify-content: center;
}

.text-align-center {
    text-align: center;
}

.img-effect :hover {
    transition: all 0.5s;
    
    transform: scale(0.98);
}

.icon-seta-down {
    margin: 5px;
    width: 100%;
}

.menu-nav {
    display: none;
}

.slogan-inicial {
    font-size: 50px;
    text-align: left;
}

.slogan-2 {
    font-size: 35px; 
    margin: 50px 0 0 0;
}

.bloco {
    margin: 10px 0;
    min-height: 45vh;
}

#btn-download {
    border: 1px solid gray;
    background-color: white;
    border-radius: 20px;
    padding: 5px 30px;

    margin: 50px 0;
    
    transition: all 0.5s;
}

#btn-download img {
    width: 70px;
    margin-right: 20px;
}

#btn-download span {
    font-size: 30px;
}

#btn-download:hover {
    border: 1px solid rgb(99, 99, 99);
    background-color: rgb(202, 202, 202);
}

.img-game {
    margin-top: 40px;
}
